*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: antiquewhite;
}
.pageTitle{
    text-align: center;
    margin: 50px;
    padding: 10px 0px;
    border-radius: 5px;
    border-bottom: 1px solid rgb(194,194,194);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);

}
.formContainer{
    padding: 10px;
    margin: 20px 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    background-color: #fff;
    display: flex;
    transition: all ease-in-out 0.2s;
}
.formContainer:hover{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    transform: scale(1.025);
}
/* Left side */
.formLeft, .formRight{
    padding: 10px;
    flex: 1;
}
.formRight{
    border-left: 1px solid rgba(0,0,0,0.3);
}
.formRow{
    margin-top: 20px;
}
.formRow a{
    display: inline-block;
    text-decoration: none;
    color: rgb(87,181,255);
    transition: all ease-in-out 0.2s;
}
.formRow a:hover{
    transform: scale(1.05);
}
#firstRow{
    margin-top: 0;
}
.formLabel{
    font-weight: bold;
}
/* Right side */
.formMessage{
    padding: 5px;
    font-size: 12px;
    line-height: 16px;
}